@page
@model TrainingExercise.Pages.UserProfiles.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.user)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.user.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Country.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Profile.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
