@page
@model TrainingExercise.Pages.UserProfiles.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.user)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.user.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profile.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profile.Country.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Profile.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
