@page "Controller/{id}/{data}/{Controller}"
@model TrainingExercise.Pages.UserPages.UserDetailsModel
@using TrainingExercise.Controller
@using TrainingExercise.Model
@{
    ViewData["Title"] = "User Details";
}
@functions{
    int CalculateAge(DateOnly dateOfBirth)
    {
        return DateTime.Now.Year - dateOfBirth.Year;
    }
}

<h1>User Details</h1>
@* 
<p>Id: @Model.user?.Id</p>
<p>Name: @Model.user?.Name</p>
<p>Date of Birth: @Model.user?.DateOfBirth</p>
<p>
    Age:
@if (Model.user != null)
{
     @CalculateAge(@Model.user.DateOfBirth)
}
</p>
<p>Age: @Model.user?.Address</p>
<h1>
    Data: @Model._data
</h1> *@

<a href="@Url.Page("/Index")">Home </a>